/* page styles */
.x-section-main {
	padding: 90px 0 35px;
}
.x-img-plan {
	width: 100%;
	height: 290px;
	object-fit: cover;
	object-position: top;
}
.x-section-features {
	padding: 50px 0;
	background: #ddd;
}
.x-feature img {
	width: 100%;
	height: 230px;
	object-fit: cover;
	object-position: top;
}
.x-section-t {
	padding: 50px 0;
}
.x-section-tb {
	padding: 50px 0;
	background: #eee;
}
