/* page styles */
.x-section-main {
	padding: 110px 0 50px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-forms {
	margin: 0 auto;
	max-width: 600px;
	background: #fff;
	padding: 20px;
	position: relative;
	z-index: 5;
}
.x-forms-banner {
	background-color: #ddd;
	background-image: url("../img/forms-bg.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 300px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.map-input-map {
	min-height: 180px !important;
}
