/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-poster-img {
	max-width: 300px;
	cursor: pointer;
}
.x-poster-img img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: top;
	background: #eaeaea;
}
.uk-autocomplete .uk-dropdown {
	width: 100%;
}
.uk-autocomplete-input-wrapper input {
	height: 30px !important;
}
