/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-event-name {
	font-size: 18px;
	font-weight: 500 !important;
}
.x-event-timestamp {
	font-size: 12px;
	color: #aaa;
}
tr.x-event-past {
	opacity: 0.5;
}
tr.x-event-live td {
	background: rgba(139, 195, 74, 0.2);
}
tr.x-event-live .x-event-status,
tr.x-event-active .x-event-status {
	color: #659f13 !important;
}
tr.x-guest {
	background: #e0f1ff !important;
}
