/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-service-image {
	width: 100%;
	max-width: 150px;
    height: auto;
	max-height: 100px;
    object-fit: cover;
    object-position: top;
}
.x-table.checkout-table tbody tr:last-child td {
	border-bottom: none !important;
}
