/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-form-table thead th {
	white-space: nowrap;
	border-top: 0.5px solid #ddd;
}
.x-form-table tfoot th {
	white-space: nowrap;
	border-top: 0.5px solid #ddd;
	border-bottom: none;
	padding: 5px;
	font-size: 12px;
	color: #b1b1b1;
}
.x-form-table td {
	padding: 0;
	vertical-align: middle;
	text-align: center;
	height: 30px;
	position: relative;
}
.x-form-table td small {
	font-size: 12px;
    text-align: left;
    display: block;
    padding: 0 5px;
    position: absolute;
    bottom: 0;
}
.x-form-table td > span {
	display: block;
	text-align: left;
	padding: 0 10px;
}
.x-form-table td .input-text {
	min-width: 100px;
    width: 100%;
    padding: 5px;
    border: none;
    text-align: left;
	height: 100%;
	min-height: 40px;
	background: transparent !important;
	color: inherit !important;
}
.x-form-table td .input-date {
	min-width: 100px;
    width: 100%;
	border: none;
	height: 100%;
	min-height: 40px;
	background: transparent;
	color: inherit;
}
.x-form-table td .input-date i {
	color: inherit !important;
}
.x-form-table td .input-select {
	width: auto;
    min-width: 100%;
	border: none;
	height: 100%;
	min-height: 40px;
	background: transparent;
	color: inherit;
}
.x-form-table td .input-date input {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent !important;
	color: inherit;
	min-height: 40px;
}
.autogrow_clone,
.x-form-table td textarea[name="comment"] {
	font-size: 14px;
	min-height: 40px;
	padding: 5px;
	border: none;
}
.x-form-table td textarea {
	outline: none;
	resize: none;
	min-height: 40px !important;
}
.x-form-table td .uk-input-danger {
	background: #ffe6e6 !important;
    padding-bottom: 20px;
    padding-top: 10px;
}
.x-form-table tr:last-child td {
	border-bottom: none;
}
.col-date {
	width: 150px;
}
.col-date.late {
	color: #f43c01;
}
.col-actions {
	white-space: nowrap;
}
td.col-actions {
	padding: 0 10px;
	text-align: left !important;
}
td.col-actions::before {
	top: calc(50% + 1px);
}
td.col-status {
	min-width: 120px !important;
}
tr.done {
	background: #fafafa;
	color: #888;
}
tr.done td::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #bbb;
    width: 100%;
	pointer-events: none;
	z-index: 1000;
}
tr.new {
	background: #edf7ff;
	color: #888;
}
.x-loading {
	font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1; /* Firefox */
  font-weight: 300 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbb;
  font-weight: 300 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bbb;
  font-weight: 300 !important;
}

#task_comments .uk-offcanvas-bar {
	width: 350px;
	background: #fff;
	overflow: hidden !important;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#task_comments .uk-offcanvas-bar::after {
	text-shadow: none;
	box-shadow: none;
	background: none;
	border: 0;
}
#task_comments .toolbar {
	position: fixed;
    background: #f5f5f5;
    width: calc(100% - 60px);
    height: 50px;
    font-size: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 60px;
	color: #555;
}
#task_comments .toolbar > a {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	width: 50px;
	font-size: 35px;
	text-align: center;
	color: inherit;
}
#task_comments .toolbar > a:hover,
#task_comments .toolbar > a:focus {
	background: #eee;
}
#task_comments .toolbar [class*=uk-icon-] {
	vertical-align: middle;
	padding-bottom: 5px;
	font-size: 80%;
	color: inherit;
}
#task_comments .comments {
	position: fixed;
	background: #fff;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	overflow-x: hidden;
	overflow-y: auto;
}
#task_comments .comments h1 {
	margin: 0;
	font-size: 30px;
}
#task_comments .comments h1 small {
	display: block;
	font-size: 16px;
}
#task_comments .comments p {
	font-size: 12px;
    font-weight: 400 !important;
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #888;
}
#task_comments .comments .thread {
	background: #f8f8f8;
}
#task_comments .comments ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
#task_comments .comments ul li {
	margin: 0;
	margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-left: 5px solid #888;
}
#task_comments .comments ul li.x-block {
	opacity: 0.5;
}
#task_comments .comments ul li.deleted {
	border-left: none;
    padding: 5px 10px;
    text-align: center;
    background: #ececec;
	font-size: 12px;
}
#task_comments .comments ul li .x-view-deleted > i {
	color: #555 !important;
}
#task_comments .comments ul li .x-tc-deleted {
	font-size: inherit;
	display: none !important;
}
#task_comments .comments ul li .x-tc-wrapper {
	font-size: inherit;
	display: block !important;
}
#task_comments .comments ul li.deleted .x-tc-deleted {
	display: block !important;
}
#task_comments .comments ul li.deleted .x-tc-wrapper {
	display: none !important;
}
#task_comments .comments ul li:last-child {
	margin-bottom: none;
}
#task_comments .comments ul li div > small {
	display: block;
	margin-top: 5px;
	font-size: 12px;
}
#task_comments .comments .mention-wrapper {
	width: 100%;
}
#task_comments .comments #tc-comment {
	height: 60px;
}
#task_comments .comments #tc-attachment {
	margin: 0 0 10px;
	border: 1px dashed #bbb;
	padding: 10px;
	font-size: 12px;
	display: inline-block;
	width: calc(100% - 20px);
	height: 10px;
	line-height: 10px;
	text-align: left;
	background: #f5f5f5;
	font-weight: 400 !important;
	color: #555;
}
#task_comments .comments #tc-attachment span {
	line-height: 10px;
}
#task_comments .comments #tc-attachment a {
	display: inline-block;
	float: right;
	line-height: 10px;
	color: inherit;
	text-decoration: none;
}
button.x-comments {
	position: relative;
}
button.x-comments.unread {
	padding-left: 15px !important;
}
button.x-comments.unread .badge {
	position: absolute;
    top: 9px;
    left: 4px;
    padding: 4px;
    background: #8BC34A;
    border-radius: 50%;
}
.mention-wrapper .mention-options .mention-option.hover,
.mention-wrapper .mention-options .mention-option:hover {
    background: #262626;
    color: #FFF;
}
.mention-options {
	border: 1px solid #bbb;
}
.mention-option {
    font-size: 14px;
    padding: 4px;
}
#tc-alert .uk-alert {
	margin: 0 0 10px;
}
#tc-alert .uk-alert p {
	width: auto !important;
    display: inline !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    color: #e28327 !important;
}
#tc-form.x-block {
	opacity: 0.5;
}

/* eof */
