/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-group-items,
.x-budget-groups {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 1px;
	border-top: 1px solid #ddd;
}
.x-group-items li,
.x-budget-groups li {
	display: inline-block;
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	background: #fff;
	cursor: pointer;
	padding: 10px 20px;
	width: calc(100% - 41px);
}
.x-group-items li.active,
.x-group-items li:focus,
.x-group-items li:hover,
.x-budget-groups li.active,
.x-budget-groups li:focus,
.x-budget-groups li:hover {
	background: #eee;
}
.x-group-items li:active,
.x-budget-groups li:active {
	background: #ddd;
}
.x-group-items li p,
.x-budget-groups li h3 {
	margin: 0;
	font-weight: 400 !important;
}
.x-group-items li small,
.x-budget-groups li small {
	color: #999;
	font-size: 12px;
}
.x-group-items li .x-actions,
.x-budget-groups li .x-actions {
	float: right;
}
.x-group-items li .x-actions a,
.x-budget-groups li .x-actions a {
	display: inline-block;
	margin: 0 0 0 5px;
}
.x-group-items li .x-actions input[type="checkbox"] {
	margin: 0 0 0 5px;
}
.x-group-items li.complete p,
.x-group-items li.complete small,
.x-budget-groups li.complete h3,
.x-budget-groups li.complete small {
	text-decoration: line-through;
	color: #bbb;
}
.x-group-items li.overdue p,
.x-group-items li.overdue small {
	color: #d85030;
}
.x-display-info h2 {
	margin: 0 0 5px;
	font-weight: 400 !important;
}
.x-display-info p {
	margin: 0;
}
.x-get-started {
	padding: 50px 0;
}
.x-get-started .x-mask-image {
	width: 80px;
	height: 80px;
}
.x-get-started h2 {
	margin: 10px 0 0;
}
.x-get-started p {
	margin: 5px 0 0;
}
.x-transactions-table {
	overflow-x: auto;
	overflow-y: auto;
	max-height: 400px;
	width: calc(100% - 1px);
}
.x-transactions-table th,
.x-transactions-table td {
	font-size: 12px;
}
.x-transactions-table tr.credit {
	background: #e8ffcc;
}
.x-budget-summary p {
	margin: 0;
	font-weight: 500 !important;
}
.x-budget-summary h2 {
	margin: 0;
	font-size: 20px;
}
.x-budget-summary.total {
	background: #c8eeff;
}
.x-budget-summary.spent {
	background: #fff1c7;
}
.x-budget-summary.balance {
	background: #e8ffcc;
}
.x-table-title {
	font-weight: 500 !important;
}
