/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-search-nothing {
	padding: 20px;
	text-align: center;
}
.x-search-nothing img {
	width: 40px;
	height: 40px;
	opacity: 0.4;
	margin: 10px;
}
.x-search-nothing p {
	margin: 5px 0;
	color: #999;
}
.x-search-loading {
	padding: 20px;
	text-align: center;
}
.x-search-loading i {
	font-size: 30px;
	opacity: 0.4;
	margin: 10px;
}
.x-search-loading p {
	margin: 5px 0;
	color: #999;
}
.x-search-results .x-guide {
	padding: 10px 20px;
}
.x-search-results .x-guide p {
	margin: 0;
	padding: 0;
	font-size: 10px;
	text-transform: uppercase;
}
.x-search-results ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.x-search-results li {
	padding: 10px 20px;
	border-bottom: 0.5px solid #ddd;
	background: #fff;
}
.x-search-results li:first-child {
	border-top: 0.5px solid #ddd;
}
/*
.x-search-results li:focus,
.x-search-results li:hover {
	cursor: pointer;
	background: #eee;
}
.x-search-results li:active {
	background: #ddd;
}
*/
.x-search-results li h3 {
	font-weight: 500 !important;
	margin: 0;
	font-size: 16px;
}
.x-search-results li p {
	margin: 0;
	font-size: 12px;
}
.x-scan-input #x-scan-video {
	display: block;
	width: 100%;
	height: 200px;
	background: #ddd;
	object-fit: cover;
	object-position: center;
}
