/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-form-title {
	margin: 20px 0 10px;
	border-bottom: .5px solid #bbb;
}
.x-table.x-block,
#guest_form.x-block {
	opacity: 0.5;
}
.x-table.bulk_actions_show {
	min-height: 250px;
}
.x-inv-sending-log p {
	font-family: monospace !important;
	margin: 0;
}
.x-inv-sending-footer {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 40px);
}
.x-inv-sending-footer .uk-progress-bar {
	float: left;
	width: calc(100% - 170px);
}
.x-inv-sending-footer .uk-button {
	float: right;
	width: 150px;
	margin-left: 10px;
}
