/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-event-title small {
	font-size: 20px;
	font-style: italic;
}
.x-manage-card {
	background: #fff;
	text-align: center;
	position: relative;
	margin: 0 auto;
	padding-bottom: 20px;
}
.x-manage-card.x-block {
	opacity: 0.5;
}
.x-manage-card .card-header {
	padding: 10px;
	font-size: 18px;
	font-weight: 400 !important;
	border-bottom: 0.5px solid #bbb;
	text-transform: uppercase;
	color: #888;
}
.x-manage-card .card-icon {
	display: block;
    padding: 20px 0 10px;
}
.x-manage-card .card-icon .x-mask-image {
	width: 70px;
	height: 70px;
	color: #8BC34A;
	opacity: 0.7;
}
.x-manage-card .card-stat {
	font-size: 30px;
	line-height: 50px;
	color: #8BC34A;
	text-transform: uppercase;
}
.x-manage-card .card-stat.long {
	font-size: 30px;
}
@media (max-width: 1024px){
	.x-manage-card .card-stat.long {
		font-size: 25px;
	}
}
.x-manage-card .card-text {
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 400 !important;
	color: #bbb;
}
.x-manage-card .card-action {
	padding: 20px 0 0;
	height: 40px;
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
}
.x-manage-card .card-action .uk-button {
	min-width: 150px;
}
.x-event-summary ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.x-event-summary ul li {
	width: 100%;
	padding: 5px 0;
	display: inline-block;
}
.x-event-summary ul li i {
	width: 20px;
	font-size: 20px;
	text-align: center;
	color: #bbb;
	margin-right: 10px;
}
.x-event-summary ul li span.right {
	float: right;
	margin: 2px 0 0 5px;
}
.x-event-summary ol {
	margin: 0;
}
.x-event-summary ol li {
	margin-bottom: 5px;
}
.x-event-summary ol li p {
	margin: 0;
}
.x-event-poster {
	width: 100%;
	height: auto;
	max-height: 500px;
}
.x-event-poster img {
	width: 100%;
	height: auto;
	object-fit: scale-down;
	object-position: top;
}
.x-watermarked {
	background-color: #cacaca;
}
.x-event-map {
	width: 100%;
	height: 250px;
	background: #ddd;
}
.x-guest-user {
	font-size: 12px;
}
