/* page styles */
.x-section-main {
	padding: 110px 0 50px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-margin-auto {
	margin: 100px auto;
}
@media (max-width: 480px){
	.x-margin-auto {
		margin: 0 auto;
	}
}
@media (max-width: 768px){
	.x-margin-auto {
		margin: 50px auto;
	}
}
.x-auth-card {
	max-width: 350px;
	padding: 20px;
	margin: 20px auto;
}
