/* Styles for home page */
.x-section-hero {
	background: url('../img/hero.jpg') no-repeat;
	background-color: rgba(0, 0, 0, .7);
	background-size: cover;
	transform: translateZ(0);
	min-height: 600px;
}
.x-hero-text {
	font-size: 52px !important;
	color: #fff;
	margin: 150px 20px 60px;
	text-align: center;
}
@media (max-width: 480px){
	.x-hero-text {
		margin: 100px 0 50px;
		font-size: 46px !important;
	}
}
.x-hero-forms {
	margin: 50px auto;
}
.x-hero-form-title {
	padding: 10px 20px;
	border-bottom: 1px solid #8BC34A;
	background: rgba(255, 255, 255, 0.8);
}
.x-hero-form-title h2 {
	font-size: 20px;
	margin: 0;
}
.x-hero-form-content {
	padding: 20px;
	background: #fff;
}
.x-section-ribbon {
	background: #8cc14c;
	padding: 20px 0;
}
.x-ribbon-item {
	display: flex;
	align-items: center;
}
.x-ribbon-icon {
	padding: 10px;
}
.x-ribbon-icon img {
	width: 70px;
	height: auto;
}
.x-ribbon-text {
	color: #fff;
	font-size: 20px;
}
.x-ribbon-text span {
	font-size: 16px;
}
.x-section {
	padding: 50px 0;
}
.x-section-featured {
	padding: 40px 0 10px;
}
.x-section-featured h1 {
	margin: 0 0 30px;
}
.x-section-event {
	padding: 20px 0 40px;
}
.x-section-event h1 {
	margin: 0 0 30px;
}
.x-exp img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: center;
}
.x-section h1 {
	color: #555;
}
.x-section-popular {
	padding: 50px 0;
	background: #eee;
}
.x-section-popular figure img {
	height: 150px;
    width: 100%;
    object-fit: cover;
}
.x-section-planners {
	background: #eee;
}
.x-section-vendors {
	background: #fff;
}
.x-section-newsletter {
	background: #fff;
}
.x-section-testimonials {
	background: #8BC34A;
	color: #fff;
}
.x-section-testimonials h1,
.x-section-testimonials h2 {
	color: inherit;
}

/* service item */
.x-service-item .x-service-image img {
	height: 160px;
}
.x-service-item .x-service-info h2 {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 10px;
}
.x-service-item .x-service-info p {
	font-size: 16px;
}
.x-service-item .x-service-info {
	padding: 10px 10px 20px;
}
.x-service-item .x-service-meta {
    width: calc(100% - 21px);
    display: inline-block;
    font-size: 11px;
    max-height: 40px;
    overflow: hidden;
    padding: 0 10px;
}
.x-service-item .x-service-rating {
    float: left;
    display: inline;
    color: #555;
    padding: 6px 0;
    font-size: 12px;
}
.x-service-item .x-service-rating [class*=uk-icon-] {
	font-size: inherit;
}
.x-service-item .x-service-category {
	margin: 0;
}
.x-service-item .x-service-location {
	padding: 0;
}
.x-service-item .x-service-ribbon .rib {
	margin-left: -5px;
	width: 75px;
}
.x-service-item .x-service-ribbon .rib:before,
.x-service-item .x-service-ribbon .rib:after {
	width: 16px;
}
/* /service item */
