/* page styles */
.x-section-main {
	padding: 110px 0 50px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-auth-card {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px 0;
	position: relative;
}
.x-auth-pad {
	padding: 0 20px;
}
.x-social-auth .x-btn-fb {
	background: #254d87 !important;
}
.x-social-auth .x-btn-tw {
	background: #26b7ed !important;
}
.x-social-auth .x-btn-go {
	background: #e12823 !important;
}
.x-social-auth .x-btn {
	color: #fff !important;
	text-shadow: none !important;
	white-space: nowrap;
}
.x-social-auth .x-btn:focus,
.x-social-auth .x-btn:hover {
	opacity: 0.8;
}
@media (min-width: 768px){
	.x-auth-card-right {
		border-left: 1px solid #ddd;
	}
}
