/* page styles */
.x-section-main {
	padding: 90px 0 50px;
	min-height: calc(100vh - 297px);
	background: #eee;
}

.x-threads {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.x-threads li {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 1px);
	border-bottom: 0.5px solid #ddd;
	margin-left: .5px;
	margin-bottom: .5px;
	margin-top: -1px;
}
.x-threads li:last-child {
	border-bottom: none;
}
.x-threads li.active {
	background: #8BC34A !important;
}
.x-threads li:focus,
.x-threads li:hover {
	background: #eee;
}
.x-threads li:active {
	background: #ddd;
}

.x-thread {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 1px;
	cursor: pointer;
}

.x-thread-user {
	display: inline-block;
	vertical-align: top;
	float: left;
	width: calc(100% - 60px);
}
.x-thread-user .x-avatar {
	padding: 0;
	width: 40px;
	height: 40px;
	float: left;
	margin: 5px 5px 5px 10px;
}

.x-thread-user .x-info {
	float: left;
	width: calc(100% - 65px);
	padding: 5px;
}
.x-thread-user .x-info .x-thread-names {
	font-size: 14px;
	font-weight: 500 !important;
	margin: 0;
	padding: 0;
	line-height: 1;
}
.x-thread-user .x-info .x-thread-preview {
	font-size: 10px;
	color: #888;
}

.x-thread-right {
	float: right;
	width: 50px;
	padding-right: 10px;
	text-align: right;
}
.x-thread-right .x-thread-time {
	margin: 5px 0 0 0;
	font-size: 10px;
	color: #888;
}
.x-thread-right .x-thread-unread {
	display: inline-block;
	vertical-align: top;
	background: #8BC34A;
	color: #fff;
	padding: 1px 4px;
	border-radius: 10px;
	font-size: 10px;
	font-weight: 400 !important;
	min-width: 10px;
	text-align: center;
}

.x-thread-right .x-thread-options {
	display: inline;
	position: relative;
	text-align: right;
	width: 100%;
}
.x-thread-right .x-thread-options > a {
	color: #888;
	text-decoration: none;
}
.x-thread-right .x-thread-options > a:focus,
.x-thread-right .x-thread-options > a:hover {
	color: #000;
}
.x-thread-right .x-thread-options .uk-dropdown {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
}
.x-thread-right .x-thread-options .uk-dropdown a {
	white-space: nowrap;
	text-align: left;
}

.active .x-thread-user .x-info .x-thread-names,
.active .x-thread-user .x-info .x-thread-preview,
.active .x-thread-right .x-thread-options > a,
.active .x-thread-right .x-thread-time {
	color: #fff;
}
.active .x-thread-right .x-thread-unread {
	background: #fff;
	color: #8BC34A;
}

.x-messages {
	margin-right: 0.5px;
	margin-left: 0.5px;
	width: calc(100% - .5px);
	min-height: 200px;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #eee;
}

.x-fname {
	max-width: 350px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	vertical-align: top;
}
.medium .x-fname {
	max-width: 170px;
}
.small .x-fname {
	max-width: 160px;
}
.xsmall .x-fname {
	max-width: 140px;
}
.xxsmall .x-fname {
	max-width: 110px;
}

.x-file-attachments * {
	font-size: 12px;
}

.x-line-text {
	margin: 20px 0;
}
.x-line-text span {
	background: #eee;
	color: #888;
}
.x-line-text:before {
	border-color: #ddd;
}

.x-attach-options {
	position: relative;
}
.x-attach-options .uk-dropdown {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
}
.x-attach-options .uk-dropdown a {
	white-space: nowrap;
	text-align: left;
}

.x-messages-header {
	display: inline-block;
	width: calc(100% - 40px);
	padding: 20px;
	background: #fff;
}
.x-messages-header .x-avatar {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	padding: 0;
	float: left;
}
.x-messages-header .x-info {
	width: calc(100% - 70px);
	float: right;
}
.x-messages-header .x-info h2 {
	margin: 0 0 5px;
}

.x-messages-chat {
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 40px);
}

.x-bubble {
	font-size: 16px;
	position: relative;
	display: inline-block;
	clear: both;
	margin-bottom: 8px;
	padding: 13px 14px;
	vertical-align: top;
	border-radius: 5px;
	font-weight: 400 !important;
}
.x-bubble .x-timestamp {
	color: inherit;
	font-size: 12px;
	margin-top: 10px;
}
.x-bubble:before {
	position: absolute;
	top: 19px;
	display: block;
	width: 8px;
	height: 6px;
	content: '\00a0';
	-webkit-transform: rotate(29deg) skew(-35deg);
	transform: rotate(29deg) skew(-35deg);
}

.x-bubble.me {
	float: right;
	color: #555;
	background-color: #fff;
	align-self: flex-end;
	-webkit-animation-name: slideFromRight;
	animation-name: slideFromRight;
}
.x-bubble.me:before {
	right: -3px;
	background-color: #fff;
}
.x-bubble.me .x-timestamp {
	text-align: right;
}
.x-bubble.me .x-timestamp i {
	color: #ccc;
}

.x-bubble.you {
	float: left;
	color: #fff;
	background-color: #8BC34A;
	align-self: flex-start;
	-webkit-animation-name: slideFromLeft;
	animation-name: slideFromLeft;
}
.x-bubble.you:before {
	left: -3px;
	background-color: #8BC34A;
}

.x-message-attachments {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-top: 10px;
}
.x-message-attachments .x-attachment {
	text-decoration: none;
	color: inherit;
}

.x-message-attachments .x-attachment.image {
	display: inline-block;
	border-radius: 5px;
	background: #fff;
	padding: 2px;
	margin-top: 5px;
}
.x-message-attachments .x-attachment.image img {
	width: 150px;
	height: 100px;
	object-fit: cover;
	object-position: top;
}
.x-message-attachments .x-attachment.image img.small {
	width: 100%;
	height: auto;
}

.x-message-attachments .x-attachment.file {
	display: inline-block;
	text-decoration: none;
	margin-top: 5px;
	color: inherit !important;
}
.x-message-attachments .x-attachment.file:focus,
.x-message-attachments .x-attachment.file:hover {
	text-decoration: underline;
}
.x-message-attachments .x-attachment.file:active {
	text-decoration: none;
}

.x-message-attachments .x-attachment.order {
	text-decoration: none;
	color: inherit;
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
	max-width: 500px;
	cursor: pointer;
}
.x-message-attachments .x-attachment.order:focus,
.x-message-attachments .x-attachment.order:hover {
	background: #eee;
}
.x-message-attachments .x-attachment.order:active {
	background: #fff;
}

.x-message-attachments .x-attachment.order img {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: top;
	margin: 10px;
}
.x-message-attachments .x-attachment.order img.small {
	margin: 0;
	max-height: unset;
}

.x-message-attachments .x-attachment.order h4 {
	color: #888;
	margin: 10px 10px 5px;
	font-weight: 300 !important;
	line-height: 1;
}
.x-message-attachments .x-attachment.order p {
	color: #888;
	margin: 0 10px 5px;
	line-height: 1;
}
.x-message-attachments .x-attachment.order h3 {
	color: #888;
	margin: 10px 10px 5px;
	font-weight: 400 !important;
	line-height: 1;
}
.x-message-attachments .x-attachment.order h3 small {
	color: #ccc;
}

.x-message-attachments .x-attachment.quote {
	text-decoration: none;
	color: inherit;
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
	max-width: 500px;
	cursor: pointer;
}
.x-message-attachments .x-attachment.quote:focus,
.x-message-attachments .x-attachment.quote:hover {
	background: #eee;
}
.x-message-attachments .x-attachment.quote:active {
	background: #fff;
}
.x-message-attachments .x-attachment.quote h4 {
	color: #888;
	margin: 10px 10px 5px;
	font-weight: 300 !important;
	line-height: 1;
}
.x-message-attachments .x-attachment.quote p {
	color: #888;
	margin: 0 10px 5px;
	line-height: 1;
}
.x-message-attachments .x-attachment.quote h3 {
	color: #888;
	margin: 10px 10px 5px;
	font-weight: 400 !important;
	line-height: 1;
}
.x-message-attachments .x-attachment.quote h3 small {
	color: #ccc;
}

.x-no-messages {
	display: inline-flex;
	width: 100%;
	min-height: 400px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.x-no-messages .x-info {
	max-width: 400px;
}
.x-no-messages img {
	width: 80px;
	height: 80px;
	margin: 0 0 10px;
	opacity: 0.2;
}
.x-no-messages h2 {
	margin: 0;
	color: #888;
}
.x-no-messages p {
	margin: 0;
	color: #888;
}








/* eof */
