/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-review-comments {
	background: #f7f7f7;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	width: calc(100% - .5px);
	margin-left: 0.5px;
}
.x-review-comments.limit {
	max-height: 150px;
	overflow-y: hidden;
}
.x-review-comments.expand {
	max-height: 500px !important;
	overflow-y: auto !important;
}
.x-review-comment {
	width: calc(100% - 40px);
	padding: 10px 20px;
	display: inline-block;
}
.x-review-comment .x-comment-avatar {
	float: left;
	width: 80px;
	text-align: center;
}
.x-review-comment .x-comment-avatar .x-avatar {
	width: 60px;
	height: 60px;
}
.x-review-comment .x-comment .x-meta {
	font-size: 12px;
}
.x-review-comment .x-comment {
	float: left;
	padding-left: 10px;
	width: calc(100% - 10px - 80px);
}
.x-review-comment .x-comment p {
	margin: 5px 0 0;
	font-size: 12px;
}
.x-order-service h2 {
	margin: 0;
	line-height: 1;
}
.x-order-service p {
	margin: 5px 0 0;
	line-height: 1;
}
.x-order-details {
	background: #f5f5f5;
}
.x-order-details h3 {
	font-weight: 500 !important;
	font-size: 20px;
	margin: 0 0 5px;
}
.x-order-details h3 small {
	font-size: 14px;
}
.x-order-details h1 {
	margin: 0;
	font-size: 40px;
}
.x-order-details h1 small {
	text-transform: uppercase;
	font-size: 16px;
	vertical-align: top;
	line-height: 30px;
}
.x-order-details p {
	margin: 0 0 5px;
	font-size: 14px;
}
@media (max-width: 768px){
	.x-order-details p {
		font-size: 12px;
	}
}
.x-no-reviews {
	text-align: center;
	padding: 20px;
}
.x-no-reviews img {
	width: 80px;
	height: auto;
	opacity: 0.5;
}
.x-no-reviews p {
	margin: 10px 20px;
}
.x-review-rating-stars h1 {
	font-size: 20px;
}
.x-payment-wrapper {
	background: #eee;
}
.x-checkout-details {
	background: #fff;
	padding: 10px 0 0;
}
.x-checkout-details h2 {
	margin: 10px;
}
.x-checkout-details p {
	margin: 0 10px 20px;
}
.x-checkout-details table {
	width: 100%;
	border-top: 1px dashed #ddd;
}
.x-checkout-details table td {
	border-bottom: 1px dashed #ddd;
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
	font-size: 14px;
}
.x-checkout-details h3 {
	text-align: right;
    margin: 0;
    padding: 20px 10px;
    font-size: 40px;
	color: #8BC34A;
}
.x-checkout-details h3 small {
	font-size: 17px;
	vertical-align: top;
	line-height: 10px;
}
.payment-option.missing {
	text-align: center;
    padding: 0 20px;
}
.payment-option.missing h1 {
	margin: 0;
	opacity: 0.5;
    font-size: 60px;
}
#payment-form h1.uk-visible-small {
	margin: 0 0 10px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
	color: #8BC34A;
}
#payment-form h1.uk-visible-small span {
	font-size: 20px;
	line-height: 30px;
	vertical-align: baseline;
}
.x-status-strip {
	padding: 10px 20px;
}
.x-status-strip h2 {
	margin: 0;
	color: inherit;
	font-size: 14px;
	font-weight: 400 !important;
	line-height: 14px;
}
.x-status-strip p {
	margin: 5px 0 0;
    font-size: 12px;
}
.x-order-delivered,
.x-order-complete,
.x-order-paid {
	background: #8BC34A;
	color: #fff;
}
.x-order-overdue {
	background: #ffb097;
	color: #fff;
}
.x-order-dispute {
	background: #FFC107;
	color: #fff;
}
