/* page styles */
.x-section-main {
	padding: 110px 0 50px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-profile-user {
	padding: 20px;
}
.x-profile-user .x-avatar {
	width: 100px;
	height: 100px;
    background: #eee;
}
#profile_status_form {
	display: none;
}
#profile_status_form textarea {
	min-height: 100px;
}
.x-profile-user .x-vendor {
	border-top: 1px solid #ddd;
	padding: 10px 0 0;
}
.x-profile-user .x-vendor p {
	margin: 0 0 10px;
}
.x-profile-user .x-vendor .x-fr {
	float: right;
}
@media screen and (min-width: 768px) and (max-width: 1219px) {
	.x-profile-user .x-vendor .x-hx {
		display: none;
	}
}
.x-profile-user .x-vendor ul {
	list-style-type: none;
	margin: 10px 0 0;
	padding: 0;
}
.x-profile-user .x-vendor ul li {
	width: 100%;
	display: inline-block;
	white-space: nowrap;
}
.x-profile-user .x-vendor ul li i {
	width: 20px;
	height: 20px;
	text-align: center;
}
.x-profile-content {
	min-height: 200px;
	background: #fff;
	padding: 20px;
}
.x-tabs {
	margin: 0;
    padding: 0 10px;
    list-style: none;
	background: #fff;
}
.x-tabs li {
	display: inline-block;
	position: relative;
	height: 52px;
}
.x-tabs li a {
	color: #444;
	margin: 0;
	border: none;
	display: block;
	padding: 15px 10px 10px;
	text-shadow: 0 1px 0 #fff;
	border-bottom: 5px solid transparent;
	background: transparent;
	text-decoration: none;
}
.x-tabs li.uk-active a {
	border-bottom: 5px solid #8BC34A;
}
.x-tabs li a:focus,
.x-tabs li a:hover {
	color: #8BC34A;
}
.x-tabs li a:active {
	border-bottom: 5px solid #8BC34A;
}
.x-tabs li.uk-active a:focus,
.x-tabs li.uk-active a:hover {
	color: #444;
}
