/* page styles */
.x-section-main {
	padding: 90px 0 50px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-error {
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
}
.x-error img {
	width: 80px;
	height: 80px;
}
.x-event-summary {
	margin: 0 auto;
	max-width: 800px;
}
h2 {
	margin: 0;
}
p {
	margin: 5px 0 0;
}
.x-guest-reviews {
	background: #eee;
}
.x-guest-reviews .x-block {
	opacity: 0.5;
}
.x-guest-reviews .x-review-comment {
	padding: 20px 10px;
	border-top: 0.5px solid #ddd;
}
.x-guest-reviews .x-review-comment:first-child {
	border-top: none;
}
.x-guest-reviews .x-review-comment .x-meta {
	color: #aaa;
	font-size: 12px;
}
.x-guest-reviews .x-review-comment p {
	font-size: 14px;
	margin: 5px 0 0;
}
.x-review-item {
	background: #fff;
	padding: 20px;
	border-top: 0.5px solid #ddd;
}
.x-review-item:first-child {
	border-top: none;
}
.x-review-item p {
	margin: 0 0 5px;
}
.x-review-item h1 {
	margin: 0;
	line-height: 1;
}
