/* page styles */
.x-section-main {
	padding: 90px 0 50px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-search-wrapper {
	min-height: 500px;
}
.x-search-bar .uk-form-icon > input {
	height: 45px;
	font-size: 20px;
	padding-left: 40px !important;
}
.x-search-bar button {
	height: 45px;
	line-height: 0;
}
.x-search-bar .uk-form-icon > i {
	width: 40px;
}
.x-search-no-results {
	padding: 10px;
	text-align: center;
	color: #999;
}
.x-search-no-results img {
	opacity: 0.2;
	width: 50px;
	height: 50px;
}
.x-search-no-results h3 {
	margin: 5px 0 0;
	color: inherit;
}
.x-search-no-results p {
	margin: 0;
}
.x-search-title {
	font-weight: 500 !important;
	color: #8BC34A;
}

/* service item */
.x-service-item .x-service-content {
	box-shadow: none;
	border: 0.5px solid #bbb;
}
.x-service-item .x-service-image img {
	height: 120px;
}
.x-service-item .x-service-info h2 {
	font-size: 16px;
	line-height: 1;
	margin: 0 0 5px;
}
.x-service-item .x-service-info p {
	font-size: 12px;
}
.x-service-item .x-service-meta {
    width: calc(100% - 21px);
    display: inline-block;
    font-size: 11px;
    max-height: 40px;
    overflow: hidden;
    padding: 0 10px;
}
.x-service-item .x-service-rating {
    float: left;
    display: inline;
    color: #555;
    padding: 6px 0;
    font-size: 12px;
}
.x-service-item .x-service-rating [class*=uk-icon-] {
	font-size: inherit;
}
.x-service-item .x-service-category {
	margin: 0;
}
.x-service-item .x-service-location {
	padding: 0;
}
.x-service-item .x-service-ribbon .rib {
	margin-left: -5px;
	width: 75px;
}
.x-service-item .x-service-ribbon .rib:before,
.x-service-item .x-service-ribbon .rib:after {
	width: 16px;
}
/* service item */

.uk-form-icon.xx_date {
	height: 30px;
}
.uk-form-icon.xx_date input {
	padding-left: 10px !important;
	height: 100%;
}
.xx-categories {
	margin: 0;
	padding: 10px 0 20px;
	list-style-type: none;
}
.xx-categories > li {
	padding: 5px 10px;
	font-size: inherit;
	color: #555;
}
.xx-categories > li > a {
	text-decoration: none;
	color: inherit !important;
}
.xx-categories > li.current {
	background: #eee;
}
.xx-categories > li > a > i {
	display: inline-block;
	margin-right: 5px;
}
