/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-service-image {
	width: 100%;
    height: auto;
	max-height: 100px;
    object-fit: cover;
    object-position: top;
}
.x-service-rating {
	color: #FFC107 !important;
}
