/* page styles */
.x-section-main {
	padding: 90px 0 50px;
	min-height: calc(100vh - 297px);
	background: #eee;
}
.x-service-image {
	width: 100%;
	background: #ddd;
}
.x-service-image img {
	width: 100%;
	height: 450px;
}
.x-service-map {
	width: 100%;
	height: 200px;
	background: #ddd;
}
.x-gallery-empty {
	text-align: center;
	color: #999;
}
.x-gallery-empty img {
	width: 80px;
	height: 80px;
}
.x-review-comments {
	background: #f7f7f7;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	width: calc(100% - .5px);
	margin-left: 0.5px;
}
.x-review-comments.limit {
	max-height: 150px;
	overflow-y: hidden;
}
.x-review-comments.expand {
	max-height: 500px !important;
	overflow-y: auto !important;
}
.x-review-comment {
	width: calc(100% - 40px);
	padding: 10px 20px;
	display: inline-block;
}
.x-review-comment .x-comment-avatar {
	float: left;
	width: 80px;
	text-align: center;
}
.x-review-comment .x-comment-avatar .x-avatar {
	width: 60px;
	height: 60px;
}
.x-review-comment .x-comment .x-meta {
	font-size: 12px;
}
.x-review-comment .x-comment {
	float: left;
	padding-left: 10px;
	width: calc(100% - 10px - 80px);
}
.x-review-comment .x-comment p {
	margin: 5px 0 0;
	font-size: 12px;
}
.x-service-like {
	display: inline-flex;
	padding: 5px 10px;
	font-size: 25px;
	vertical-align: middle;
	text-decoration: none !important;
	color: #555;
}
.x-service-like.favorite {
	opacity: 1;
	color: #FF5722;
}
.x-service-like:hover {
	opacity: 1;
	color: #FF5722;
}
.x-service-like:active:not([disabled]) {
	opacity: 0.5;
	color: #000;
}
.x-service-like.loading {
	opacity: 0.5;
	color: #000;
}
.x-gallery-item {
	position: relative;
}
.x-gallery-delete {
	display: flex;
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 10px;
	background: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	padding: 5px 7px;
	border-radius: 50%;
	text-decoration: none !important;
	color: #555 !important;
	opacity: 0.5;
}
.x-gallery-delete:hover {
	opacity: 1;
	background: #fff;
	color: #FF5722 !important;
}
.x-gallery-delete:active {
	opacity: 0.5;
}
.x-image-upload-dialog {
	background: #eee;
}
.x-image-upload-dialog img {
	cursor: pointer;
}
.x-pricing-item-placeholder {
	height: 100%;
	width: 100%;
	background: #f8f8f8;
}
.x-pricing-item {
	border: 0.5px solid #bbb;
	text-align: center;
	padding-bottom: 40px;
	background: #fafafa;
	position: relative;
}
.x-pricing-item-delete {
	display: flex;
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 5px;
    background: #ddd;
    font-size: 16px;
    padding: 6px 8px;
    border-radius: 50%;
    text-decoration: none !important;
    color: #FF5722 !important;
    opacity: 0.7;
}
.x-pricing-item-edit {
	display: flex;
    position: absolute;
    z-index: 1;
    right: 35px;
    bottom: 5px;
    background: #ddd;
    font-size: 16px;
    padding: 6px 8px;
    border-radius: 50%;
    text-decoration: none !important;
    color: #FF5722 !important;
    opacity: 0.7;
}
.x-pricing-item-delete:hover {
	opacity: 1;
	color: #FF5722 !important;
}
.x-pricing-item-delete:active {
	opacity: 0.5;
}
.x-pricing-item h1 {
	margin: 0;
	padding: 10px 20px 0;
	color: #8ec73b;
	font-size: 25px;
	font-weight: 500 !important;
}
.x-pricing-item h2 {
	margin: 0;
	padding: 0 20px 10px;
	font-size: 20px;
	font-weight: 500 !important;
	border-bottom: 0.5px solid #bbb;
	text-transform: uppercase;
}
.x-pricing-item p {
	margin: 10px 20px;
	font-style: italic;
	font-weight: 400 !important;
	color: #555;
}
.x-pricing-item h3 {
	border-top: 0.5px solid #bbb;
    margin: 0;
    padding: 10px 20px 5px;
    font-size: 16px;
    font-weight: 500 !important;
    color: #888;
    text-transform: uppercase;
}
.x-pricing-item .package {
	padding: 0 20px;
    font-size: 12px;
}
.x-pricing-item .package-div {
	width: 100px;
	height: 1px;
	border-top: 0.5px solid #ccc;
	margin: 5px auto;
}

/* service item */
.x-service-item .x-service-content {
	box-shadow: none;
	border: 0.5px solid #bbb;
}
.x-service-item .x-service-image img {
	height: 120px;
}
.x-service-item .x-service-info h2 {
	font-size: 16px;
	line-height: 1;
	margin: 0 0 5px;
}
.x-service-item .x-service-info p {
	font-size: 12px;
}
.x-service-item .x-service-meta {
	width: calc(100% - 21px);
	display: inline-block;
	font-size: 11px;
	max-height: 40px;
	overflow: hidden;
	padding: 0 10px;
}
.x-service-item .x-service-rating {
	float: left;
	display: inline;
	color: #555;
	padding: 6px 0;
	font-size: 12px;
}
.x-service-item .x-service-rating [class*=uk-icon-] {
	font-size: inherit;
}
.x-service-item .x-service-category {
	margin: 0;
}
.x-service-item .x-service-location {
	padding: 0;
}
.x-service-item .x-service-ribbon .rib {
	margin-left: -5px;
	width: 75px;
}
.x-service-item .x-service-ribbon .rib:before,
.x-service-item .x-service-ribbon .rib:after {
	width: 16px;
}
.x-gallery-item img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	object-position: top;
}
.x-service-pricing-cart-add {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
/* /service item */
