/* page styles */
.x-section-main {
	padding: 90px 0 30px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.map-input-map {
	min-height: 180px !important;
}
.x-display-img {
	max-width: 300px;
}
.x-display-img img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: top;
}
@media all and (max-width: 768px){
	.x-display-img img {
		max-height: 200px;
	}
}
