/* page styles */
.x-section-main {
	padding: 110px 0 50px;
    min-height: calc(100vh - 297px);
	background: #eee;
}
.x-margin-auto {
	margin: 80px auto;
}
@media (max-width: 480px){
	.x-margin-auto {
		margin: 0 auto;
	}
}
@media (max-width: 768px){
	.x-margin-auto {
		margin: 50px auto;
	}
}
.x-signup-types {
	max-width: 800px;
}
.x-type-client {
	padding: 20px;
	color: #fff;
	background: #8BC34A;
}
.x-type-client h1,
.x-type-client p {
	color: inherit;
}
.x-type-vendor {
	padding: 20px;
}

.x-auth-card {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px 0;
	position: relative;
}
.x-auth-pad {
	padding: 0 20px;
}
.x-auth-back {
	position: absolute;
	top: 10px;
	left: 20px;
}
.x-auth-back img {
	height: 25px;
}
.x-social-auth .x-btn-fb {
	background: #254d87 !important;
}
.x-social-auth .x-btn-tw {
	background: #26b7ed !important;
}
.x-social-auth .x-btn-go {
	background: #e12823 !important;
}
.x-social-auth .x-btn {
	color: #fff !important;
	text-shadow: none !important;
	white-space: nowrap;
}
.x-social-auth .x-btn:focus,
.x-social-auth .x-btn:hover {
	opacity: 0.8;
}
@media (min-width: 768px){
	.x-auth-card-right {
		border-left: 1px solid #ddd;
	}
}
