/* page styles */
.x-section-main {
	padding: 100px 0 20px;
}
.x-section-s {
	padding: 50px 0;
	background: #eee;
}
.x-ss {
	background: #fff;
}
.x-ss:hover {
	cursor: pointer;
	background: #eee;
}
.x-ss:active {
	background: #ddd;
}
.x-ss img {
	width: 80px;
	height: 80px;
}
.x-section-f {
	margin: 50px 0;
	background: #fff;
}
.x-faqs {
	list-style-type: disc;
}
.x-faqs li {
	margin: 10px;
}
.x-faqs li a {
	font-weight: 400 !important;
	font-size: 16px;
}
