.uk-form-label {
	font-weight: normal !important;
}
.uk-button,
.uk-form input,
.uk-form textarea,
.uk-form select {
	border-radius: 0 !important;
}
.uk-nav-dropdown>li>a:focus, .uk-nav-dropdown>li>a:hover {
	background: #8BC34A;
}
.uk-badge {
	background: #8BC34A;
}
.uk-padding {
	padding: 10px;
}
.uk-padding-large {
	padding: 20px;
}
