@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html, body {
	margin: 0;
	padding: 0;
}
body {
	font-size: 15px;
	line-height: 1.43;
	color: #29303b;
	background-color: #fff;
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.x-flex-icc {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.x-icon img {
	width: auto;
	height: 40px;
}
.x-logo img {
	width: auto;
	height: 40px;
}
.x-navbar {
	height: 60px;
	border-radius: 0;
	background: #fff;
	box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
	position: relative;
	z-index: 100;
}
.x-navbar .uk-navbar-content {
	height: 60px;
}
.x-navbar .uk-navbar-brand.x-icon {
	padding: 0 5px;
}
.x-navbar .uk-navbar-toggle,
.x-navbar .uk-navbar-brand,
.x-navbar .uk-navbar-nav > li > a {
	height: 60px;
	line-height: 60px;
	font-family: inherit;
}
.x-navbar .xuk-button {
	height: 36px;
	border-radius: 0;
	line-height: 32px;
	font-size: 14px;
	min-width: 100px;
	font-family: inherit;
}
.x-container {
	max-width: 1100px !important;
	padding: 0 !important;
}
.x-navbar .x-input {
	height: 36px !important;
	border-radius: 0 !important;
}
@media (min-width: 1024px){
	.x-navbar .x-input-nav {
		min-width: 380px;
	}
	.x-navbar.dash .x-input-nav {
		min-width: 660px;
	}
	.x-navbar.dash.home .x-input-nav {
		min-width: 540px;
	}
}
@media (max-width: 1024px){
	.x-navbar .x-input-nav {
		min-width: 300px;
	}
	.x-navbar.dash .x-input-nav {
		min-width: 530px;
	}
	.x-navbar.dash.home .x-input-nav {
		min-width: 380px;
	}
}
.x-drop-search,
.x-drop-search .uk-form-icon,
.x-drop-search .uk-form-icon .x-input {
	width: 100%;
}
.x-search-dropdown {
	border-radius: 0 !important;
}
.x-search-dropdown:before {
	position: absolute;
	top: -7px;
	right: 40px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
.x-search-dropdown:after {
	position: absolute;
	top: -6px;
	right: 40px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ddd;
	border-left: 6px solid transparent;
	content: '';
}
.x-cart-dropdown {
	border-radius: 0 !important;
}
.x-cart-dropdown:before {
	position: absolute;
	top: -7px;
	right: 15px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
.x-cart-dropdown:after {
	position: absolute;
	top: -6px;
	right: 15px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ddd;
	border-left: 6px solid transparent;
	content: '';
}
.x-categories-dropdown {
	border-radius: 0 !important;
}
.x-categories-dropdown:before {
	position: absolute;
	top: -7px;
	left: 15px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
.x-categories-dropdown:after {
	position: absolute;
	top: -6px;
	left: 15px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ddd;
	border-left: 6px solid transparent;
	content: '';
}
.x-offcanvas-logo img {
	width: 150px;
	margin: 25px 0 0;
}
#section-hero {
	background-image: url("../img/hero.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #eee;
}
.x-hero-content {
	max-width: 900px;
	margin: 50px auto;
	padding: 20px;
}
.x-hero-content h1 {
	text-align: center;
	color: #fff;
	font-size: 40px;
	font-family: 'Courgette', cursive;
}
.x-hero-form {
	margin: 50px 0 20px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.5);
}
.x-hero-form form {
	padding: 10px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.x-min-100 {
	min-width: 100px;
}
.x-min-150 {
	min-width: 150px;
}
.x-min-200 {
	min-width: 200px;
}
.x-input-action {
	position: relative;
	display: inline-block;
}
.x-input-action .x-input {
	padding-right: 30px !important;
	float: left;
	width: 100%;
}
.x-input-action .uk-form-icon {
	float: left;
	width: 100%;
}
.x-input-action .uk-form-icon input {
	padding-right: 30px !important;
	width: 100%;
}
.x-input-action .x-action {
	position: absolute;
	width: 30px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
	text-decoration: none;
	color: inherit;
}
.x-input-action .x-action:hover {
	color: #858585;
}
.x-input-action .x-action:active {
	color: inherit;
}
[contenteditable=true]:empty:before {
	content: attr(placeholder);
	float: left;
	margin-left: 2px;
	color: #b3b3b3;
}
.x-drop-wrapper {
	position: relative;
}
.x-drop-close {
	float: left;
	color: #858585;
}
.x-drop-content {
	display: none;
	position: absolute;
	left: 0;
	min-width: calc(100% - 2px);
	min-height: 100px;
	background: #fff;
	border: 1px solid #ddd;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 100;
}
.x-drop-list-wrapper {
	position: relative;
	width: 100%;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}
.x-drop-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.x-drop-list li.header {
	pointer-events: none;
	padding: 10px 15px 5px;
	border-bottom: 1px solid #ddd;
	font-weight: 700;
	color: #888;
}
.x-drop-list li.item {
	color: #444;
	padding: 10px 15px;
	border-bottom: 1px solid #f1f1f1;
}
.x-drop-list li.item:last-child {
	border-bottom: none;
}
.x-drop-list li.item:hover,
.x-drop-list li.item:focus {
	cursor: pointer;
	background: #39f;
	color: #fff;
}
.x-drop-list li.item:active {
	background: #6bb5ff;
}
.x-block {
	pointer-events: none;
	opacity: 0.5;
}
.x-tags {
	border: 1px solid #ddd;
	padding: 0 6px;
	cursor: text;
	position: relative;
}
.x-tags input {
	width: 100px !important;
	border: 0 !important;
	padding: 0 !important;
	height: 28px !important;
	background: #fff !important;
	margin-top: 2px;
}
.x-tags .x-action {
	display: none;
	padding: 0 10px 3px;
    margin-right: -6px;
    color: inherit;
    position: absolute;
    right: 10px;
    bottom: 2px;
    background: #fff;
}
.x-tags-wrapper {
	display: inline-block;
}
.x-tags-wrapper .x-tag {
	padding: 5px 10px;
	margin: 5px 5px 5px 0;
	background: #eee;
	border-radius: 15px;
	display: inline-block;
	font-size: 12px;
}
.x-tags-wrapper .x-tag a {
	margin-left: 5px;
	text-decoration: none;
	color: #888;
}
.x-col-light-green {
	color: #8BC34A;
}
.x-col-dark-green {
	color: #5a7b33;
}
.x-hero-bottom {
	background: #8BC34A;
}
.x-hero-bottom-icon {
	padding: 15px;
}
.x-hero-bottom-icon img {
	width: 80px;
	height: auto;
}
.x-hero-bottom-text {
	padding: 10px;
}
.x-hero-bottom-text p {
	margin: 0;
	color: #fff;
}
.x-flex-c {
	display: flex;
	align-items: center;
}
.x-flex-cc {
	display: flex;
	align-items: center;
	justify-content: center;
}
.x-featured-panel {
	margin: 20px;
	padding: 20px;
	background: #f1f1f1;
}
.x-featured-slider {
	padding: 15px;
}
.x-featured-slider .uk-slidenav-position .uk-slidenav {
	top: 30%;
}
.x-service-item-wrapper {
	padding: 5px;
}
.x-service-item {
	position: relative;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.x-service-item .x-info {
	padding: 10px;
	color: #555;
}
.x-service-item .x-info h3 {
	font-size: 12px;
	font-weight: 700;
	color: inherit;
	margin: 0;
	white-space: nowrap;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.x-service-item .x-info p {
	margin: 0 0 10px;
	max-width: 100%;
	height: 40px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 20px;
}
.x-service-item .x-info .x-rating {
	color: #FFC107;
	vertical-align: text-bottom;
}
.x-service-item .x-info .x-rating-count {
	color: #858585;
	vertical-align: text-bottom;
}
.x-service-item .x-info .x-location {
	vertical-align: text-bottom;
	color: #aaa;
}
.x-service-item .x-info .uk-grid {
	font-size: 12px;
	white-space: nowrap;
}
.x-service-item .x-buttons {
	padding: 10px;
	text-align: right;
}
.x-service-item .x-ribbon {
	position: absolute;
	top: 10px;
	left: 0;
}
.rib {
	margin-left: -10px;
	height: 25px;
	width: 90px;
	position: relative;
	background: #8BC34A;
	color: white;
	line-height: 24px;
	text-align: center;
	font-size: 11px;
}
.rib:before,
.rib:after {
	content: "";
	position: absolute;
	right: -10px;
	top: 0;
	height: 50%;
	width: 20px;
	background: inherit;
}
.rib:before {
	transform: skewX(-45deg);
}
.rib:after {
	transform: skewX(45deg);
	top: 50%;
}
.shad {
	position: absolute;
	height: 25px;
	width: 20px;
	top: 0%;
	left: 0;
	background: #0e7b12;
	transform-origin: top left;
	transform: skewY(45deg);
	z-index: -1;
	box-shadow: inset 0 0 10px #0e7b12;
}
.x-featured-more {
	padding: 0 10px 20px;
}
.x-featured-more h1 {
	font-size: 20px;
	color: #858585;
	margin: 0 10px;
}
#section-personalized {
	background-color: #555;
	background-image: url("../img/back.jpg");
	background-repeat: no-repeat;
	color: #fff;
	background-position: bottom;
	background-size: cover;
}
.x-personalized {
	margin: 100px auto;
	text-align: center;
}
.x-personalized h1 {
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-family: 'Courgette', cursive;
}
.x-top-categories {
	margin: 20px 0;
	padding: 0 20px;
}
.x-top-categories h1 {
	font-size: 20px;
	color: #858585;
	margin: 0;
}
.x-top-category {
	margin: 10px 0;
	display: flex;
	align-items: center;
	text-decoration: none !important;
	color: inherit !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 10px;
	white-space: nowrap;
}
.x-top-category:focus,
.x-top-category:hover {
	background: #f1f1f1;
}
.x-top-category img {
	width: 40px;
	margin-right: 10px;
}
#section-incomplete {
	padding: 100px 20px;
	text-align: center;
	background: #eee;
}
#section-incomplete h2 {
	color: #888;
	font-size: 20px;
}
#section-accounts {
	padding: 20px;
	background-color: #f1f1f1; /* #f7f8fa; */
}
#section-accounts h2 {
	font-size: 20px;
}
#section-accounts .x-account {
	padding: 40px;
}
#section-footer {
	padding: 20px 40px;
}
.x-footer-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.x-footer-nav a {
	color: inherit !important;
	font-size: 12px;
}
#section-footer-end {
	background: #444;
	color: #fff;
	padding: 20px 40px 50px;
}
.x-footer-copyright {
	font-size: 12px;
	color: inherit;
}
@media (max-width: 765px){
	.x-footer-copyright {
		text-align: right;
	}
}
.x-footer-links {
	font-size: 12px;
	color: inherit;
	text-align: right;
}
.x-footer-links a {
	color: inherit;
}
#page-placeholder {
	min-height: calc(100vh - 282px);
	background: #f1f1f1;
}
#help-content {
	background: #fff;
	padding: 10px;
	margin-bottom: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.x-help-section h1 {
	font-size: 20px;
	color: #858585;
	margin: 20px 0 0;
}
.x-card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background: #fff;
}
.x-card-hover:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.x-help-card {
	padding: 10px;
	font-size: 16px;
	display: flex;
	align-items: center;
	min-height: 80px;
	justify-content: center;
}
.x-help-card:focus,
.x-help-card:hover {
	cursor: pointer;
	background: #fafafa;
}
.x-help-ticket {
	text-decoration: none;
	background: #8BC34A;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: #fff !important;
    align-items: center;
    justify-content: center;
	text-align: center;
	cursor: pointer;
}
.x-help-ticket:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.x-help-ticket-content {
	padding: 10px;
}
.x-help-ticket-content i {
	font-size: 80px;
	color: inherit;
}
.x-help-ticket-content h2 {
	font-size: 26px;
	color: inherit;
	margin: 10px 0 0;
}
.x-help-ticket-content p {
	font-size: 16px;
	color: inherit;
	margin: 0;
}
.x-help-topic {
	text-align: center;
	padding: 20px;
	min-height: 170px;
}
.x-help-topic:hover {
	background: #fafafa;
	cursor: pointer;
}
.x-help-topic img {
	width: 80px;
}
.x-help-topic h2 {
	font-size: 20px;
	margin: 5px 0 10px;
}
.x-help-topic p {
	margin: 0;
}
.x-help-banner {
	background: #eee;
    padding: 20px;
    margin: 20px;
}
.x-help-banner img {
	background: #fff;
	padding: 10px;
	border-radius: 50%;
	width: 100px;
}
.x-help-banner h1 {
	font-size: 25px;
	margin: 0;
}
.x-help-banner p {
	margin: 0;
}
.x-signup-form {
	margin: 50px auto;
	max-width: 400px;
}
#signup-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	background: #fff;
}
#signup-content legend {
	font-size: 16px;
    margin: 10px 0 5px;
}
.x-btn-fb {
	background: #254d87 !important;
	color: #fff !important;
	text-shadow: none;
	white-space: nowrap;
}
.x-btn-tw {
	background: #26b7ed !important;
	color: #fff !important;
	text-shadow: none;
	white-space: nowrap;
}
.x-btn-go {
	background: #e12823 !important;
	color: #fff !important;
	text-shadow: none;
	white-space: nowrap;
}
.x-auth-buttons .uk-button:focus,
.x-auth-buttons .uk-button:hover {
	opacity: .8;
}
.x-auth-buttons .uk-button:active {
	opacity: 1;
}
.x-auth-form {
	margin: 50px auto;
	max-width: 400px;
}
.x-auth-form form {
	padding: 20px;
	border: 1px solid #ddd;
	background: #fff;
}
.x-auth-form form legend {
	font-size: 16px;
    margin: 10px 0 5px;
}
.x-agree-terms {
	font-size: 12px;
	margin: 5px 0 0;
}
.x-auth-form h3 {
	margin: 0;
	font-weight: 700;
}
.x-auth-form p {
	margin: 0 0 10px;
}
.x-verify-box {
	margin: 50px auto;
	max-width: 400px;
	padding: 20px;
	border: 1px solid #ddd;
	background: #fff;
	text-align: center;
}
.x-verify-box img {
	width: 90px;
}
.x-nav-avatar {
	display: inline-block;
	color: inherit !important;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}
.x-nav-avatar img {
	width: 100%;
	min-height: 100%;
}
.x-nav-user {
	display: inline-block;
	position: relative;
}
.x-nav-user-drop {
	left: auto !important;
	right: -30px !important;
	top: 60px !important;
}
.x-nav-user-drop:before {
	position: absolute;
	top: -7px;
	right: 46px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
.x-nav-user-drop:after {
	position: absolute;
	top: -6px;
	right: 46px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ddd;
	border-left: 6px solid transparent;
	content: '';
}
.x-mode {
	max-width: 400px;
	padding: 20px;
	border: 1px solid #ddd;
	background: #fff;
}
.x-mode h2 {
	margin: 0;
	font-size: 20px;
}
.x-mode p {
	margin: 0 0 10px;
}
.x-mode-toggle {
	border: 1px solid #ddd;
	max-width: 400px;
	background: #fff;
	padding: 20px;
}
.form-toggle-close {
	float: right;
	color: #858585 !important;
}
.x-btm-pad {
	padding-bottom: 5px !important;
}
