.x-dash-aside {
	width: 200px;
	background: #f8f9fa !important;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	min-height: calc(100vh - 60px);
	position: fixed;
}
.x-dash-aside ul {
	list-style-type: none;
	margin: 20px 0 0;
	padding: 0;
}
.x-dash-aside li {
	padding: 5px 20px;
}
.x-dash-aside li.divider {
	border-bottom: 1px solid #ddd;
	margin: 10px;
}
.x-dash-aside li a {
	color: #555;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
}
.x-dash-aside li a i {
	color: #858585;
}
.x-dash-aside li a:hover i,
.x-dash-aside li a:focus i {
	color: #000;
}
.x-dash-aside li.uk-active a,
.x-dash-aside li.uk-active a i {
	color: #8BC34A !important;
}
.x-dash-content {
	position: fixed;
	width: calc(100% - 200px);
	left: 200px;
	height: calc(100vh - 60px);
	overflow-x: hidden;
	overflow-y: auto;
	background: #fafafa;
}
@media (max-width: 768px){
	.x-dash-content {
		left: 0;
		width: 100%;
	}
}
.x-dash-wrapper {
	padding: 10px;
}
.x-panel-tool-wrapper {
	padding: 10px;
}
.x-panel-tool {
	padding: 20px;
}
.x-panel-tool h2 {
	margin: 0 0 5px;
	font-size: 20px;
	color: inherit;
}
.x-panel-tool p {
	margin: 0 0 10px;
	color: inherit;
}
.x-panel-tool-checklist {
	background: #fff;
}
.x-dash-section {
	padding: 20px 0;
}
.x-dash-section h1 {
	font-size: 20px;
	color: #858585;
	margin: 0 0 10px;
}
.x-dash-form {
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	max-width: 600px;
	margin: 10px;
}
.x-dash-form h2 {
	font-size: 25px;
	color: #555;
	margin: 0 0 10px;
}
.x-dash-form p {
	margin: 0 0 5px;
}
.x-location-map {
	width: 100%;
	height: 200px;
	background: #eee;
}
.x-location-map-desc {
	font-size: 12px;
	color: #858585;
	font-style: italic;
	margin: 5px 0;
}
.x-account-card {
	padding: 10px;
	text-align: center;
}
.x-avatar-wrapper {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	margin: 20px 0 10px;
}
.x-avatar-wrapper img {
	min-width: 100%;
	min-height: 100%;
}
.x-account-card h2 {
	font-size: 20px;
	margin: 0;
}
.x-account-card h3 {
	font-size: 16px;
	color: #858585;
	margin: 0;
}
.x-account-card p {
	margin: 0 10px 10px;
}
.x-vendor-card {
	padding: 10px;
	text-align: center;
}
.x-vendor-card h2 {
	font-size: 20px;
	margin: 0;
}
.x-vendor-card h3 {
	margin: 0;
	color: #858585;
	font-size: 16px;
}
.x-vendor-card p {
	margin: 0 10px 10px;
}
.x-icon-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	margin: 20px 0 10px;
	background: #eee;
	padding: 20px;
}
.x-stats-card {
	display: block;
	text-decoration: none !important;
	padding: 10px;
	margin-bottom: 10px;
}
.x-stats-card:focus,
.x-stats-card:hover {
	opacity: 0.8;
	cursor: pointer;
}
.x-stats-card:active {
	opacity: 1;
}
.x-stats-card p {
	text-align: left;
	color: inherit;
	margin: 0;
}
.x-stats-card h1 {
	text-align: right;
    font-size: 25px;
    margin: 0;
    color: inherit;
}
.x-card-green {
	background: #8BC34A;
	color: #fff !important;
}
.x-card-gray {
	background: #555;
	color: #fff !important;
}
.x-dash-figure {
	max-height: 300px;
}
.x-dash-items {
	padding: 10px;
}
.x-dash-items h1 {
	font-size: 20px;
	margin: 0;
	color: #8BC34A;
	font-weight: 700;
}
.x-dash-items .x-nothing {
	background: #f1f1f1;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	border-radius: 5px;
}
.x-dash-items .x-nothing img {
	width: 80px;
	height: auto;
	margin: 10px;
}
.x-dash-items .x-nothing h2 {
	font-size: 20px;
	margin: 10px 0 0;
	color: #999;
}
.x-dash-items .x-nothing p {
	margin: 0 0 10px;
	color: #999;
	font-size: 14px;
}
.x-service-card h2 {
	margin: 0;
}
.x-service-card p {
	margin: 0;
}
