/*
*	Main Styles (By Martin Thuku)
*	Copyright (c) 2019 Tupange Events LTD
*	Requires https://getuikit.com/v2/
*/

html,
body {
	font: 400 16px/20px "Fira Sans", sans-serif !important;
}
* {
	font-size: 16px;
	line-height: 1.4;
	font-weight: 300 !important;
	font-family: "Fira Sans", sans-serif !important;
	font--webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* *:focus {
	outline: none !important;
}
[class*=uk-icon-] {
	font-family: FontAwesome !important;
	font-size: inherit;
}
a:not(.uk-button),
i,
pre,
em,
span,
strong {
	font-size: inherit;
	font-weight: inherit !important;
}
strong {
	font-weight: 500 !important;
}
small {
	font-size: 80%;
}
.x-block {
	pointer-events: none;
}
.x-block,
.x-noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.x-navbar {
	position: absolute;
	z-index: 100;
	width: 100%;
	margin: 0;
}
.x-navbar .uk-navbar {
	border: 0;
	border-radius: 0;
	background: #202020;
}
.x-navbar .uk-navbar-nav {
	margin-right: -15px;
}
.x-navbar .uk-navbar-nav .uk-navbar-content {
	height: 60px;
}
.x-navbar .uk-navbar-nav > li > a {
	color: #fff !important;
	line-height: 60px;
	height: 60px;
	padding: 0 15px;
	cursor: pointer !important;
	text-decoration: none;
	text-shadow: none;
	border: 0;
	font-size: 16px;
	font-weight: 400 !important;
	position: relative;
	background: transparent !important;
}
.x-navbar .uk-navbar-nav > li > a:hover,
.x-navbar .uk-navbar-nav > li > a:focus,
.x-navbar .uk-navbar-nav > li > a.active {
	border: 0;
	background: none;
	color: #eee !important;
	text-decoration: none !important;
}
.x-navbar .uk-navbar-nav > li.uk-active > a {
	background: transparent;
	color: #8cc14c !important;
	font-weight: 700 !important;
}
.x-navbar .uk-navbar-nav > li.uk-open > a {
	background: transparent;
	color: white;
}
.x-navbar .uk-navbar .uk-dropdown-navbar ul > li > a {
	color: #333333;
}
.x-navbar .uk-navbar .uk-dropdown-navbar ul > li > a:active,
.x-navbar .uk-navbar .uk-dropdown-navbar ul > li > a:focus,
.x-navbar .uk-navbar .uk-dropdown-navbar ul > li > a:hover {
	color: white;
}
.x-navbar .uk-navbar-brand {
	height: 60px;
	white-space: nowrap;
}
.x-navbar .uk-navbar-brand img {
	width: auto;
	height: 40px;
}
.x-navbar .uk-navbar-toggle {
	height: 60px;
}
.x-navbar .uk-navbar-toggle:after {
	content: '';
	vertical-align: middle;
	background: url("../img/icons/navbar-toggle.svg") 0 0 no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
}
.x-navbar-transparent .uk-navbar {
	background: transparent;
}
.x-navbar-avatar {
	display: inline-block;
}
.x-navbar-avatar > a {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.x-navbar-avatar .x-avatar {
	width: 40px;
	height: 40px;
	padding: 4px;
	background: #8BC34A;
	vertical-align: middle;
}
.uk-nav-navbar > li > a {
	position: relative;
	font-size: 14px !important;
}
.uk-nav-navbar > li.uk-active a {
	background: #2a2a2a;
	color: #fff !important;
	text-shadow: none;
}
.uk-nav-navbar > li > a:hover,
.uk-nav-navbar > li > a:focus,
.uk-nav-navbar > li > a:active {
	background: #2a2a2a;
}
#offcanvas .uk-offcanvas-bar {
	background-image: -webkit-linear-gradient(270deg, #8BC34A 0%, #34461e 100%);
	background-image: linear-gradient(-180deg, #8BC34A 0%, #34461e 100%);
}
#offcanvas .uk-offcanvas-bar::after {
	text-shadow: none;
	box-shadow: none;
	background: none;
	border: 0;
}
#offcanvas .uk-nav-offcanvas {
	text-shadow: none;
	box-shadow: none;
	border: 0;
}
#offcanvas .uk-nav-offcanvas > li > a {
	text-shadow: none;
	box-shadow: none;
	border: 0;
	color: #fff;
	padding-left: 30px;
	position: relative;
}
#offcanvas .uk-nav-offcanvas > li > a:hover,
#offcanvas .uk-nav-offcanvas > li > a:active,
#offcanvas .uk-nav-offcanvas > li > a:focus {
	background: rgba(0, 0, 0, 0.1) !important;
}
#offcanvas .uk-nav-offcanvas > li > a.active {
	background: rgba(0, 0, 0, 0.1);
	color: white;
}
#offcanvas .uk-nav-offcanvas > li > a.active:hover,
#offcanvas .uk-nav-offcanvas > li > a.active:active,
#offcanvas .uk-nav-offcanvas > li > a.active:focus {
	background: rgba(0, 0, 0, 0.1) !important;
}
#offcanvas .uk-nav-offcanvas .uk-nav-sub {
	text-shadow: none;
	box-shadow: none;
	border: 0;
}
#offcanvas .uk-nav-offcanvas .uk-nav-sub > li > a {
	padding: 10px 10px 10px 30px !important;
}
#offcanvas .uk-nav-offcanvas > .uk-open > a {
	background: rgba(0, 0, 0, 0.1);
}
.uk-button {
	padding: 4px 18px;
	min-height: 38px;
	border-radius: 0px;
	font-weight: 500 !important;
	border-color: transparent !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.uk-button[disabled],
.uk-button.uk-disabled {
	color: #999 !important;
	border-color: rgba(0,0,0,.06) !important;
	pointer-events: none;
	cursor: default;
}
.uk-button-small {
	min-height: 0 !important;
	line-height: 20px !important;
	padding: 2px 10px !important;
	font-weight: 400 !important;
}
.uk-button [class*=uk-icon-] {
	vertical-align: middle;
	line-height: 1.4;
}
.uk-button-primary,
.uk-form input.uk-button-primary {
	padding: 4px 18px;
	border-radius: 0px;
	color: #fff !important;
	background-color: #00a8e6 !important;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.uk-button-primary:hover,
.uk-button-primary:focus,
.uk-form input.uk-button-primary:hover,
.uk-form input.uk-button-primary:focus {
	background-color: #35b3ee !important;
}
.uk-button-primary:active,
.uk-form input.uk-button-primary:active {
	background-color: #2191ba !important;
}
.uk-button-success,
.uk-form input.uk-button-success {
	padding: 4px 18px;
	border-radius: 0px;
	color: #fff !important;
	background-color: #8cc14c !important;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.uk-button-success:hover,
.uk-button-success:focus,
.uk-form input.uk-button-success:hover,
.uk-form input.uk-button-success:focus {
	background-color: #8ec73b !important;
}
.uk-button-success:active,
.uk-form input.uk-button-success:active {
	background-color: #78a443 !important;
}
.uk-button-white,
.uk-form input.uk-button-white {
	padding: 4px 18px;
	border-radius: 0px;
	color: #444 !important;
	text-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
	background-color: #fff !important;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.uk-button-white:hover,
.uk-button-white:focus,
.uk-form input.uk-button-white:hover,
.uk-form input.uk-button-white:focus {
	background-color: #f8f8f8 !important;
	color: #777 !important;
}
.uk-button-white:active,
.uk-form input.uk-button-white:active {
	background-color: #fff !important;
	color: #444 !important;
}
.uk-button.uk-text-danger {
    color: #d85030 !important;
}
.x-btn-radius {
	border-radius: 4px;
}
.uk-form input:not([type=radio]),
.uk-form select,
.uk-form textarea {
	border-radius: 0 !important;
}
.uk-datepicker-table a {
	border-radius: 0 !important;
}
.x-min-200 {
	min-width: 200px;
}
.x-min-150 {
	min-width: 150px;
}
.x-min-100 {
	min-width: 100px;
}
.x-max-200 {
	max-width: 200px;
}
.x-max-150 {
	max-width: 150px;
}
.x-max-100 {
	max-width: 100px;
}
.uk-dropdown {
	border: 0;
	border-radius: 0;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.x-card {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.x-service-item {
	padding: 5px;
}
.x-service-item .x-service-content {
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.x-service-item .x-service-image img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	object-position: center;
}
.x-service-item .x-service-info {
	padding: 10px;
}
.x-service-item .x-service-info h2 {
	color: #555;
	font-size: 20px;
	font-weight: 400 !important;
	margin: 0;
	white-space: nowrap;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.x-service-item .x-service-info p {
	margin: 0;
	width: 100%;
	height: 40px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 20px;
}
.x-service-item .x-service-meta {
	width: 100%;
	display: inline-block;
	font-size: 12px;
	max-height: 40px;
	overflow: hidden;
}
.x-service-item .x-service-category {
	float: left;
	display: inline;
	color: #555;
	padding: 2px 10px;
	background: #eee;
	border-radius: 20px;
	margin: 8px 10px;
	font-size: inherit;
}
.x-service-item .x-service-location {
	float: right;
	display: inline;
	color: #555;
	padding: 10px;
	font-size: inherit;
}
.x-service-item .x-service-location [class*=uk-icon-] {
	color: #858585;
}
.x-service-item .x-service-rating {
	float: left;
	display: inline;
	color: #555;
	padding: 6px 0;
}
.x-service-item .x-service-rating [class*=uk-icon-] {
	color: #FFC107;
}
.x-service-item .x-service-rating span {
	color: #858585;
	font-style: italic;
	font-size: 90%;
}
.x-service-item .x-service-buttons {
	padding: 10px;
	text-align: right;
}
.x-service-item .x-service-ribbon {
	position: absolute;
	top: 10px;
	left: 0;
}
.x-service-item .x-service-ribbon .rib {
	margin-left: -10px;
	height: 25px;
	width: 90px;
	position: relative;
	background: #8BC34A;
	color: white;
	line-height: 24px;
	text-align: center;
	font-size: 11px;
}
.x-service-item .x-service-ribbon .rib:before,
.x-service-item .x-service-ribbon .rib:after {
	content: "";
	position: absolute;
	right: -10px;
	top: 0;
	height: 50%;
	width: 20px;
	background: inherit;
}
.x-service-item .x-service-ribbon .rib:before {
	transform: skewX(-45deg);
}
.x-service-item .x-service-ribbon .rib:after {
	transform: skewX(45deg);
	top: 50%;
}
.x-service-item .x-service-ribbon .shad {
	position: absolute;
	height: 25px;
	width: 20px;
	top: 0%;
	left: 0;
	background: #0e7b12;
	transform-origin: top left;
	transform: skewY(45deg);
	z-index: -1;
	box-shadow: inset 0 0 10px #0e7b12;
}
.x-service-item .x-service-favorite {
	display: flex;
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 10px;
	background: rgb(255, 255, 255);
	font-size: 16px;
	padding: 5px;
	border-radius: 50%;
	text-decoration: none !important;
	color: #555;
	opacity: 0.7;
}
.x-service-item .x-service-favorite.favorite {
	opacity: 1;
	color: #FF5722;
}
.x-service-item .x-service-favorite:hover {
	opacity: 1;
	color: #FF5722;
}
.x-service-item .x-service-favorite:active:not([disabled]) {
	opacity: 0.5;
	color: #000;
}
.x-service-item .x-service-favorite.loading {
	opacity: 0.5;
	color: #000;
}

@media (max-width: 480px){
	.x-service-item {
		max-width: 250px;
		margin: 0 auto;
	}
	.x-service-item .x-service-image img {
		height: 180px;
	}
	.x-service-item .x-service-info p {
		height: auto;
	}
}
.x-footer {
	background: #202020 !important;
	color: rgba(255, 255, 255, 0.8);
}
.x-footer h3 {
	color: #fff;
	font-weight: 400 !important;
	font-size: 16px !important;
}
.x-footer p,
.x-footer ul.uk-list > li > a,
.x-footer ul.uk-list > li *,
.x-footer ul.uk-list > *,
.x-footer .x-copyright {
	font-size: 14px !important;
}
.x-footer .x-tel,
.x-footer .x-mail {
	margin-top: 5px;
}
.x-footer a {
	color: rgba(140, 193, 76, 0.8);
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}
.x-footer a:hover,
.x-footer a:focus,
.x-footer a:active {
	color: #fff;
}
.x-footer .x-social {
	margin-top: 10px;
}
.x-footer .x-social > li > a {
	text-decoration: none;
	cursor: pointer;
	margin-right: 30px;
}
.x-footer .x-social > li > a [class*='uk-icon-'] {
	font-size: 18px !important;
}
.x-footer .x-social > li > a:hover,
.x-footer .x-social > li > a:focus,
.x-footer .x-social > li > a:active {
	text-decoration: none;
}
.x-footer .uk-grid-divider {
	border-color: rgba(204, 204, 204, 0.2);
}
.x-footer.uk-block {
	padding-bottom: 30px !important;
	padding-top: 60px !important;
}
.x-pad-20 {
	padding: 20px !important;
}
.x-pad-20a {
	padding: 0 20px !important;
}
.x-pad-20b {
	padding: 20px 0 !important;
}
.x-img-cover {
	object-fit: cover;
	object-position: center;
}
.x-pad-10 {
	padding: 10px !important;
}
.x-pad-10a {
	padding: 0 10px !important;
}
.x-pad-10b {
	padding: 10px 0 !important;
}
.x-pad-10c {
	padding: 0 0 10px !important;
}
.x-pad-10d {
	padding: 10px 0 0 !important;
}
.x-nopadding {
	padding: 0 !important;
}
.x-nomargin {
	margin: 0 !important;
}
.x-margin-20 {
	margin: 20px;
}
.x-margin-20a {
	margin: 0 20px;
}
.x-margin-20b {
	margin: 20px 0;
}
.x-margin-20c {
	margin: 0 20px 20px;
}
.x-margin-20d {
	margin: 20px 20px 0;
}
.x-margin-10 {
	margin: 10px;
}
.x-margin-10a {
	margin: 0 10px;
}
.x-margin-10b {
	margin: 10px 0;
}
.x-margin-top-10 {
	margin-top: 10px;
}
.x-margin-left-10 {
	margin-left: 10px;
}
.x-margin-right-10 {
	margin-right: 10px;
}
.x-margin-bottom-10 {
	margin-bottom: 10px;
}
.x-margin-top-20 {
	margin-top: 20px;
}
.x-margin-left-20 {
	margin-left: 20px;
}
.x-margin-right-20 {
	margin-right: 20px;
}
.x-margin-bottom-20 {
	margin-bottom: 20px;
}
.x-padding-top-10 {
	padding-top: 10px;
}
.x-padding-left-10 {
	padding-left: 10px;
}
.x-padding-right-10 {
	padding-right: 10px;
}
.x-padding-bottom-10 {
	padding-bottom: 10px;
}
.x-padding-top-20 {
	padding-top: 20px;
}
.x-padding-left-20 {
	padding-left: 20px;
}
.x-padding-right-20 {
	padding-right: 20px;
}
.x-padding-bottom-20 {
	padding-bottom: 20px;
}
.x-avatar {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	padding: 5px;
}
.x-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	background: #dfe5e7;
}
.uk-modal-dialog {
	border-radius: 0 !important;
}
.x-inline-block {
	display: inline-block;
}
.x-nothing {
	padding: 10px 20px;
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 40px);
}
.x-nothing img {
	float: left;
	width: 40px;
	height: 56px;
	margin-right: 20px;
	padding: 8px 0;
}
.x-nothing div {
	padding: 5px 0;
	width: calc(100% - 60px);
	float: left;
}
.x-nothing h3,
.x-nothing p {
	margin: 0;
}
.uk-text-danger.uk-icon-hover:hover {
	color: rgba(255, 25, 25, 0.56) !important;
}
.x-overflow-hidden-x {
	overflow-x: hidden;
}
.x-overflow-hidden-y {
	overflow-y: hidden;
}
.x-overflow-auto-y {
	overflow-y: auto;
}
.x-overflow-auto-x {
	overflow-x: auto;
}
.x-overflow-scroll-y {
	overflow-y: scroll;
}
.x-overflow-scroll-x {
	overflow-x: scroll;
}
.x-badge-count {
	position: absolute;
	background: #8BC34A;
	padding: 1px 4px;
	border-radius: 10px;
	top: 12px;
	left: calc(100% - 12px);
	color: #000;
	font-size: 10px;
	font-weight: 400 !important;
	min-width: 10px;
	text-align: center;
}
.uk-nav-offcanvas .x-badge-count {
	left: calc(100% - 40px);
	padding: 2px 4px;
	top: 9px;
}
.uk-nav-navbar > li a .x-badge-count {
	background: #2a2a2a;
	color: #fff;
	left: calc(100% - 40px);
	top: 7px;
}
.uk-nav-navbar > li.uk-active a .x-badge-count,
.uk-nav-navbar > li a:hover .x-badge-count,
.uk-nav-navbar > li a:focus .x-badge-count {
	background: #fff;
	color: #2a2a2a;
}
.x-fw-400 {
	font-weight: 400 !important;
}
.x-fw-700 {
	font-weight: 700 !important;
}
.x-box {
	background: #fff;
	border: .5px solid #bbb;
	padding: .5px;
}
.x-box-title {
	background: #f5f5f5;
	margin: 0.5px;
	padding: 10px 20px;
	font-size: 24px;
	position: relative;
	overflow: hidden;
}
.x-box-title .uk-navbar-toggle {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.x-box-title .uk-navbar-toggle:hover,
.x-box-title .uk-navbar-toggle:focus {
	background: #eee;
}
.x-box-title > [class*=uk-icon-] {
	font-size: 80%;
	vertical-align: middle;
	padding-bottom: 5px;
	color: #bbb;
}
.x-table {
	margin-left: .5px;
}
.x-table .uk-table {
	margin-top: .5px;
	margin-left: .5px;
	margin-bottom: 0;
	width: calc(100% - .5px);
}
.x-table .uk-table thead {
	background: #f5f5f5;
}
.x-table .uk-table th {
	font-weight: 400 !important;
}
.x-table .uk-table th,
.x-table .uk-table td {
	border-left: .5px solid #ddd;
}
.x-table .uk-table th:first-child,
.x-table .uk-table td:first-child {
	border-left: none;
}
.x-table .vmiddle {
	vertical-align: middle;
}
.x-table .vtop {
	vertical-align: top;
}
.x-table .vbottom {
	vertical-align: bottom;
}
.x-table a {
	text-decoration: none;
}
.x-nowrap {
	white-space: nowrap;
}
.uk-pagination > li > span {
	border-radius: 0;
}
.uk-pagination > li > a {
	border: 1px solid #bbb;
	background: #fff;
	border-radius: 0;
}
.x-hidden {
	display: none;
}
.x-visible {
	display: block;
}
.x-display-none {
	display: none !important;
}
.x-display-block {
	display: block !important;
}
.uk-form map-input input,
.uk-form uk-locations input,
.uk-form uk-autocomplete input {
	width: 100% !important;
}
.uk-modal-dialog {
	width: 350px;
	z-index: 200;
}
.uk-modal-dialog.x-modal {
	width: 600px;
}
.uk-modal-dialog.x-modal-nopad {
	padding: 0;
}
.uk-modal-dialog.x-modal-nopad .uk-modal-header,
.uk-modal-dialog.x-modal-nopad .uk-modal-footer {
	margin: 0;
}
.x-wizard-steps-wrapper {
	padding: 20px;
	background: #8cc14c;
}
.x-wizard-content-wrapper {
	background: #fff;
}
.x-wizard-buttons-wrapper {
	padding: 20px;
	text-align: right;
	background: #ddd;
}
.x-wizard-steps {
	display: table;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.x-wizard-steps li {
	display: table-cell;
	width: 1%;
	color: #555;
	text-align: center;
}
.x-wizard-steps li a {
	color: inherit;
	text-decoration: none;
	font-weight: 500 !important;
}
.x-wizard-steps li:first-child:before {
	max-width: 51%;
	left: 50%;
}
.x-wizard-steps li:last-child:before {
	max-width: 50%;
	width: 50%;
}
.x-wizard-steps li:before {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	font-size: 0;
	overflow: hidden;
	border-top: 2px solid #555;
	position: relative;
	top: 7px;
	z-index: 1;
}
.x-wizard-steps li.complete {
	color: #fff;
}
.x-wizard-steps li.complete:before {
	content: '';
	border-top: 2px solid #fff;
}
.x-wizard-steps li .x-step {
	border: 3px solid #8cc14c;
	border-radius: 100%;
	background-color: #555;
	position: relative;
	z-index: 2;
	display: block;
	width: 10px;
	height: 10px;
	margin: -3px auto 5px;
}
.x-wizard-steps li.complete .x-step {
	background-color: #fff;
}
uk-autocomplete.uk-form-danger {
	background: transparent !important;
	border: none !important;
}
uk-autocomplete.uk-form-danger input {
	border-color: #dc8d99!important;
	background: #fff7f8!important;
	color: #d85030!important;
}
label.x-checkbox,
label.x-radio {
	cursor: pointer !important;
}
.x-border-top {
	border-top: 1px solid #ddd;
}
.x-border-bottom {
	border-bottom: 1px solid #ddd;
}
.x-border-right {
	border-right: 1px solid #ddd;
}
.x-border-left {
	border-left: 1px solid #ddd;
}
.x-watermarked {
	position: relative;
	overflow: hidden;
	background: #eaeaea;
	display: inline-block;
}
.x-watermarked::before {
	position: absolute;
	top: -75%;
	left: -100%;
	display: block;
	width: 200%;
	height: 150%;
	transform: rotate(-36deg);
	content: attr(data-watermark);
	opacity: 0.7;
	line-height: 2.5em;
	letter-spacing: 4px;
	color: #fff;
	z-index: 2;
	font-size: 16px;
}
.x-watermarked-content {
	position: relative;
	z-index: 1;
}
.x-watermarked-content-top {
	position: relative;
	z-index: 3;
}
@media all and (max-width: 376px) {
	* {
		font-size: 12px;
	}
	.x-pad-20 {
		padding: 10px;
	}
	.uk-button {
		padding: 4px 18px;
		min-height: 25px;
		line-height: 20px;
		font-size: 12px;
	}
}
.x-uppercase {
	text-transform: uppercase;
}
.uk-datatable-search {
	margin-top: 0.5px;
}
.uk-datatable-wrapper table th {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.uk-datatable-wrapper table th:not(.x-ignore) {
	padding-right: 30px;
}
.uk-datatable-wrapper table th:not(.x-ignore):focus,
.uk-datatable-wrapper table th:not(.x-ignore):hover {
	cursor: pointer;
	background: #eee;
}
.uk-datatable-wrapper table th > [class*=uk-icon-] {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 10px;
	right: 7.5px;
	color: #bbb;
}
.x-mask-image {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: currentColor;
	mask-size: contain;
	mask-position: 50% 50%;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: 50% 50%;
	-webkit-mask-repeat: no-repeat;
	background-color: currentColor;
	vertical-align: middle;
}
.x-color-inherit {
	color: inherit !important;
}
.x-color-0 {
	color: #000 !important;
}
.x-color-5 {
	color: #555 !important;
}
.x-color-8 {
	color: #888 !important;
}
.x-color-b {
	color: #bbb !important;
}
.x-color-g {
	color: #8BC34A !important;
}
.x-drop-mini {
	padding: 0;
	min-width: 100px;
}
.x-drop-mini ul {
	margin: 0 !important;
}
.x-drop-mini li a {
	font-size: 12px;
}
.x-drop-mini [class*=uk-icon-] {
	vertical-align: middle;
}
.x-drop-mini .uk-nav-divider {
	margin: 0 !important;
}
@-webkit-keyframes flash_green {
	from { background-color: #8ec73b; }
	to { background-color: inherit; }
}
@-moz-keyframes flash_green {
	from { background-color: #8ec73b; }
	to { background-color: inherit; }
}
@-o-keyframes flash_green {
	from { background-color: #8ec73b; }
	to { background-color: inherit; }
}
@keyframes flash_green {
	from { background-color: #8ec73b; }
	to { background-color: inherit; }
}
.x-flash-green-1 {
	-webkit-animation: flash_green 1s normal; /* Safari 4+ */
	-moz-animation: flash_green 1s normal; /* Fx 5+ */
	-o-animation: flash_green 1s normal; /* Opera 12+ */
	animation: flash_green 1s normal; /* IE 10+ */
}
.x-flash-green-2 {
	-webkit-animation: flash_green 2s normal; /* Safari 4+ */
	-moz-animation: flash_green 2s normal; /* Fx 5+ */
	-o-animation: flash_green 2s normal; /* Opera 12+ */
	animation: flash_green 2s normal; /* IE 10+ */
}
.x-flash-green-3 {
	-webkit-animation: flash_green 3s normal; /* Safari 4+ */
	-moz-animation: flash_green 3s normal; /* Fx 5+ */
	-o-animation: flash_green 3s normal; /* Opera 12+ */
	animation: flash_green 3s normal; /* IE 10+ */
}
.x-flash-green-infinite {
	-webkit-animation: flash_green 1s infinite; /* Safari 4+ */
	-moz-animation: flash_green 1s infinite; /* Fx 5+ */
	-o-animation: flash_green 1s infinite; /* Opera 12+ */
	animation: flash_green 1s infinite; /* IE 10+ */
}
.x-italic,
.x-italics {
	font-style: italic !important;
}
.x-pill {
	display: inline-block;
	color: #555;
	padding: 2px 10px;
	background: #eee;
	border-radius: 20px;
	margin-bottom: 5px;
}
.uk-rating-stars {
	display: inline-block;
	white-space: nowrap;
	color: inherit;
	font-size: inherit;
}
.uk-rating-stars a {
	display: inline-block;
	color: #ccc;
	cursor: default;
	font-size: inherit;
	padding-left: 5px;
}
.uk-rating-stars [class*=uk-icon-] {
	font-size: inherit;
}
.uk-rating-stars.editable a {
	color: inherit;
	cursor: pointer;
}
.uk-rating-stars a:first-child {
	padding-left: 0;
}
.uk-rating-stars a i {
	color: inherit;
	font-size: inherit;
}
.uk-rating-stars a i.fill {
	color: #FFC107;
}
.x-rating-star {
	font-size: inherit;
	color: #FFC107;
}
.x-toolbar {
	padding: 0;
	border-radius: 0;
	border: .5px solid #bbb;
}
.x-toolbar .uk-navbar-toggle {
	cursor: pointer;
	height: 50px;
	margin: .5px;
	font-size: 18px;
	border: none !important;
	border-radius: 0 !important;
}
.x-toolbar .uk-navbar-toggle:hover,
.x-toolbar .uk-navbar-toggle:focus {
	background: #eee;
}
.x-toolbar .uk-navbar-brand {
	height: 50px;
	line-height: 50px;
}
.x-toolbar .uk-navbar-content {
	display: inline-flex;
	height: 50px;
	align-items: center;
}
.x-toolbar .uk-dropdown {
	min-width: 150px;
}
@media all and (max-width: 376px) {
	.x-toolbar .uk-navbar-brand {
		font-size: 12px;
	}
}
.x-iblock {
	display: inline-block;
	vertical-align: top;
}
.x-modal > .uk-close:not(.uk-close-alt) {
	margin: 10px 10px 0 0 !important;
}
.x-modal.x-modal-nopad .uk-close-alt {
	margin-bottom: -14px !important;
}
.x-modal.x-modal-nopad .uk-overflow-container {
	clear: both !important;
}
@media (max-width: 376px) {
	.uk-button {
		padding: 4px 15px !important;
	}
}
.x-table {
	margin: 0.5px;
}
.x-modal .uk-modal-header {
	font-weight: 500 !important;
	font-size: 20px;
	padding: 10px 20px;
	color: #555;
}
.x-modal-small {
	width: 250px;
}
.x-ellipsis-text {
	width: 100%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}
.x-line-text {
	position: relative;
	z-index: 1;
}
.x-line-text:before {
	border-top: 1px solid #ddd;
	content: "";
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}
.x-line-text span {
	background: #fff;
	padding: 0 15px;
}
.uk-progress-bar {
	display: inline-block;
	vertical-align: top;
	min-width: 50px
	height: 20px;
	overflow: hidden;
	background: #eee;
	border-radius: 4px;
}
.uk-progress-bar > div {
	display: inline-block;
	float: left;
	height: 20px;
	background: #8ec73b;
	text-align: center;
	font-family: monospace !important;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	transition: 0.4s linear;
	border-radius: 4px;
	transition-property: width, background-color;
}
.uk-progress-bar > div {
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
}
.uk-progress-bar > div.animate {
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}
@-webkit-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
.uk-form-icon > input {
	margin: 0 0 0 1px;
}
.uk-form .uk-form-icon > input {
	margin: 0;
}
.x-notifications-wrapper {
	position: relative;
}
.x-notifications-drop {
	position: absolute;
	z-index: 10000;
	width: 350px;
	min-height: 100px;
	right: -100px;
	top: 59px;
	background: #f5f5f5;
}
.x-notifications-drop::before {
	content: "";
	background: transparent;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #f5f5f5;
	top: -4px;
    left: 223px;
}
@media (max-width: 768px) {
	.x-notifications-drop {
		right: -88px;
	}
	.x-notifications-drop::before {
		left: 235px;
	}
}
.x-notifications-wrapper-small {
	display: inline-block;
    position: absolute;
    top: 0;
    right: 25px;
    height: 60px;
}
.x-notifications-wrapper-small a {
	height: 60px;
	line-height: 60px;
	padding: 0 15px;
	display: inline-block;
	font-size: 16px;
	color: #fff !important;
}
.x-notifications-wrapper-small .x-notifications-drop {
	left: -284px;
}
.x-notifications-wrapper-small .x-notifications-drop::before {
	left: 302px;
}
.x-notifications-drop.unread::before {
	border-bottom: 5px solid #fff;
}
.x-notifications-list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}
.x-notifications-list li {
	position: relative;
	background: transparent;
	padding: 10px;
	font-size: 14px;
	color: #555;
	border-bottom: 0.5px solid #ddd;
}
.x-notifications-list li:last-child {
	border-bottom: none;
}
.x-notifications-list li > a {
	display: inline-block;
	text-decoration: none !important;
	padding: 0 !important;
	color: inherit !important;
	font-size: inherit !important;
	background: transparent !important;
	height: auto;
    line-height: 16px;
}
.x-notifications-list li > a > i {
	display: inline-block;
	font-size: 24px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
.x-notifications-list li > a > small {
	display: block;
	margin-top: 5px;
}
.x-notifications-list li.unread {
	background: #fff;
}
.x-notifications-list li .loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.56);
}
.x-notifications-empty {
	text-align: center;
    color: #555;
    padding: 20px;
	font-size: 14px;
}
.x-notifications-empty > img {
	width: 40px;
	opacity: 0.5;
}
.x-notifications-empty > p {
	margin: 5px 0 0;
	font-size: inherit;
}
.x-notifications-actions {
	padding: 10px;
	border-top: 0.5px solid #ddd;
	text-align: center;
}
.x-notifications-actions button {
	min-width: 100px;
}


.x-profile-dropdown {
	margin-top: 0 !important;
}
.x-profile-dropdown::before {
	content: "";
	background: transparent;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #f5f5f5;
	top: -4px;
	left: 107px;
}











/* main end */
