.mention-wrapper {
	position: relative;
	display: inline-block;
}
.mention-wrapper textarea {
	border-radius: 0px;
	margin: 0px;
	resize: none;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.mention-wrapper .mention-options {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	background: #FFF;
	color: #333;
	display: flex;
	flex-wrap: wrap;
}
.mention-wrapper .mention-options.mention-options-reverse {
	flex-direction: column-reverse;
	top: initial;
	bottom: 100%;
}
.mention-wrapper .mention-options .mention-option {
	box-sizing: border-box;
	background: #FFF;
	position: relative;
	cursor: pointer;
	display: none;
	width: 100%;
}
.mention-wrapper .mention-options .mention-option.hover, .mention-wrapper .mention-options .mention-option:hover {
	background: #AAA;
	color: #FFF;
}
.mention-wrapper .mention-options.show {
	opacity: 1;
	pointer-events: initial;
}
.mention-wrapper .mention-options.show .mention-option.show {
	display: block;
}
